{:paths ["src"]
 :aliases
 {:repl {:extra-paths ["dev" "target/classes" "../../src"]
         :extra-deps {compliment {:mvn/version "0.3.6"}
                      org.ow2.asm/asm {:mvn/version "6.2.1"}
                      org.ow2.asm/asm-tree {:mvn/version "6.2.1"}}
         :jvm-opts ["-Dclojure.server.repl={:port,3450,:accept,clojure.core.server/repl}"]}}}
