{:paths ["src"]
 :aliases
 {:repl {:extra-paths ["dev" "target/classes"]
         :extra-deps {compliment {:mvn/version "0.3.6"}
                      com.github.lxbr/jil
                      {:git/url "https://github.com/lxbr/jil"
                       :sha "11aff9f629959938c2d8981a9822c15d920d29a3"}}
         :jvm-opts ["-Dclojure.server.repl={:port,3450,:accept,clojure.core.server/repl}"]}}}
